.pts {
    padding: 0 6vw 3.625rem;
    display: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.lista{
    display: flex;
    justify-content: center;
    text-align: center;
    gap:100rem;
}

.ancora{
    margin-left: 2rem;
    text-align: center;
}

.img{
    width: 10vw;
}
.imgG{
    width: 10vw;
}

.lh{
    border-color:#aaa;
  box-sizing:border-box;
  width:100%;
}

@media (max-width: 1100px) {
    .pts {
        margin-top: 0;
        padding: 2rem 1.5rem 3.625rem;
    }
}

@media (max-width: 744px) {
    .pts {
        padding: 2rem 1rem 3rem;
    }
}